<form (ngSubmit)="submit()" [formGroup]="exampleForm">
  <div>
    <mat-form-field class="example-form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
      <button
        mat-button
        *ngIf="exampleForm.value.value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="exampleForm.patchValue({ value: '' })"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" type="submit">Submit</button>
    <button mat-raised-button type="reset">Reset</button>
  </div>
</form>
